<!DOCTYPE html>
<html>
<head>
<title><?echo get_title($file);?></title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta property="og:image" content="<?echo $siteurl.MetaImg($file);?>"/>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="./site/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="./template/style.css?<?echo $daytime;?>" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H5P9G2H5F7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H5P9G2H5F7');
</script>
<script data-ad-client="ca-pub-6217982924243099" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>



	
</head>
<body>


<div class="jumbotron text-center">
	<div id="header">
		<img src="image/site/logo.png" alt=""/><br>
		<h1>貓咪大戰爭 The Battle Cats</h1>
		
	</div>
</div>

<main>
<div class="container text-justify">
