<!--
<a href="catsuni.php">貓咪角色一覽</a>
<br/>
<a href="sort.php">貓咪角色分類</a>
<br/>
<a href="stage.php">關卡資料</a>
<br/>
<a href="enemy.php">敵人資料</a>
<br/>
<a href="log.php">更新紀錄</a>
<br/>
-->

<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
	  <li class="nav-item"><a href="index.php" class="nav-link active">首頁</a></li>
      <li class="nav-item"><a href="catsuni.php" class="nav-link">貓咪角色一覽</a></li>
      <li class="nav-item"><a href="sort.php" class="nav-link">貓咪角色分類</a></li>
      <li class="nav-item"><a href="stage.php" class="nav-link">關卡資料</a></li>
      <li class="nav-item"><a href="enemy.php" class="nav-link">敵人資料</a></li>
      <li class="nav-item"><a href="log.php" class="nav-link">更新紀錄</a></li>
    </ul>
  </header>
</div>