
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
	  <li class="nav-item"><a href="index.php" class="nav-link <?menu_where("index");?>">首頁</a></li>
      <li class="nav-item"><a href="catsuni.php" class="nav-link <?menu_where("catsuni"); menu_where("cats1");?>">貓咪角色一覽</a></li>
      <li class="nav-item"><a href="sort.php" class="nav-link <?menu_where("sort");?>">貓咪角色分類</a></li>
      <li class="nav-item"><a href="enemy.php" class="nav-link <?menu_where("enemy"); menu_where("enemy1");?>">敵人資料</a></li>
	  <li class="nav-item"><a href="stage.php" class="nav-link <?menu_where("stage");?>">關卡資料</a></li>
	  <li class="nav-item"><a href="search.php" class="nav-link <?menu_where("search");?>">搜尋</a></li>
      <li class="nav-item"><a href="log.php" class="nav-link <?menu_where("log");?>">更新紀錄</a></li>
    </ul>
  </header>

