


<a href="#">狂亂貓關卡</a><br/>

<table width="50%" class="t_table">

	<tbody>
	<tr>
		<td>名稱</td>
		<td>狂亂小貓</td>
	</tr>

	<tr>
		<td>統帥力</td>
		<td>200</td>
	</tr>
	
	<tr>
		<td>經驗值</td>
		<td>5000</td>
	</tr>

	<tr>
		<td>城堡體力</td>
		<td>10000</td>
	</tr>
	
	<tr>
		<td>場地大小</td>
		<td>4400</td>
	</tr>
	
	
	<tr>
		<td>最大敵人數</td>
		<td>10</td>
	</tr>

	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>


</tbody></table>


<table width="50%" class="t_table">

	<tbody><tr>
		<td>敵人</td>
		<td>名稱</td>
		<td>強度</td>
		<td>數量</td>
		<td>城堡血量</td>
		<td>出現時間</td>
		<td>再出現</td>
	</tr>

	<tr>
		<td>圖</td>
		<td>小貓</td>
		<td>200%</td>
		<td>5</td>
		<td>80%</td>
		<td>30</td>
		<td>120~150</td>
	</tr>
	
	<tr>
		<td>圖</td>
		<td>大貓</td>
		<td>200%</td>
		<td>無限</td>
		<td>80%</td>
		<td>30</td>
		<td>120~150</td>
	</tr>


</tbody></table>


<a href="#">大狂亂貓關卡</a><br/>
