body {
  background-color: rgba(211, 211, 211, 0.5)
}

#header{
  background-color: LightGray;
}

#footer{
  background-color: LightGray;
  font-size:50%;
}

#menu{
  background-color: rgba(255, 149, 71, 0.5);
}

#main{
  width:1080px;
}

#content{
  background-color: rgba(0, 52, 10, 0.5);
}

h1 {
  background-color: LightGray;
}
/*
div {
  background-color: lightblue;
}
*/
p {
  background-color: lightblue;
}

table {
	width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

td {
  padding:  5px;
}

/*
#id	#firstname	Selects the element with id="firstname"
.class	.intro	Selects all elements with class="intro"
element.class	p.intro	Selects only <p> elements with class="intro"
*	*	Selects all elements
element	p	Selects all <p> elements
element,element,..	div, p	Selects all <div> elements and all <p> elements

*/

.row > div {
  border: 1px solid grey;
}


.pagemeun {
 padding-left:  5px;
 padding-right: 5px;
 border: 1px solid grey;
 background-color: #ffe4c4;
}

.pagemeunt {
 padding-left:  5px;
 padding-right: 5px;
 border: 1px solid grey;
 background-color: #ff8c00;
}

.tap {
 padding-left:  5px;
}

.catty {
 background-color: #ff8c00;
}

.indexcard {
 padding:  5px;
 border: 1px solid grey;
 border-radius: 10px;
}